<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Web4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Jersey API</display-name>
    <servlet-name>JerseyAPI</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <description></description>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>net.vbelev.web4</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.provider.classnames</param-name>
      <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JerseyAPI</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>JerseyCorsFilter</filter-name>
  	<filter-class>net.vbelev.web4.JerseyCorsFilter</filter-class>
  	<init-param>
  		<param-name>origin</param-name>
  		<param-value>http://localhost:3000</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>JerseyCorsFilter</filter-name>
  	<servlet-name>JerseyAPI</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>
  <context-param>
    	<param-name>dataFolder</param-name>
    	<param-value>E:\Vythe\Coding\other\gbdata</param-value>
  </context-param>
</web-app>